@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  font-family: "Alata", sans-serif;
  background-color: rgb(47, 49, 54);
  color: #fff;

  h1 {
    margin-bottom: 1em;
  }

  #buzzerButton {
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
  }
}
